  <footer id="footer">
    <div id="newcomments">
      <span class="title">最近回复</span>
      <ul>
        <li>admin：<a title="A" href="#8950">A</a></li>
        <li>T：<a title="C" href="#8949">C</a></li>
        <li>t<a title="R" href="#8948"></a></li>   
      </ul>
    </div>
    <div id="randposts">
      <span class="title">随机文章</span>
      <ul>
        <li><a href="#188" title="La">La</a></li> 
        <li><a href="#2051" title="If">If</a></li>
        <li><a href="#568" title="P">P</a></li> 
      </ul>
    </div>
    <div id="links">
      <span class="title">友情链接</span>
        <ul class="xoxo blogroll">
          <li><a href="#" title="#" target="_blank">一起知道</a></li>
          <li><a href="#" rel="co-worker" title="#" target="_blank">重阳博客</a></li>
          <li><a href="#" rel="co-worker" title="#" target="_blank">虎爵</a></li>
	      </ul>
    </div>
    <footer>© <a title="<%= config.title %>" href="/"><%= config.title %></a> 主题由 <a href="https://yimity.com/" target="_blank">一米</a> 提供 自豪的采用 <a title="自豪的采用 WordPress" href="http://ospring.yimity.com/" target="_blank">oSpring</a></footer>
  </footer>

  <script type="text/javascript" src="/javascripts/jquery.scrollMenu.js"></script>
  <script type="text/javascript">
    $(".title h3 a").scrollMenu();
  </script>

  <!--[if lte IE 8]> 
    <script type="text/javascript" src="/javascripts/ie-placeholder.js"></script>
  <![endif]-->

</body>
</html>