<% include header %> 
  <section>
      <article id="post-188">
        <div class="title">
          <h3><a href="http://i.w/?p=188" title="Layout Test" rel="bookmark">Layout Test</a></h3>
          <span class="info"><a class="timeago" title="2008/09/04 23:02:20" href="http://i.w/2008/09/04">2008/09/04</a>  /  <span>评论已关闭</span>  /  12 围观</span>
        </div>
        <p>This is a sticky post!!! Make sure it sticks!</p>
        <p>This should then split into other pages with layout, images, HTML tags, and other things.</p>
        <div class="page-link"><div class="wp-pagenavi"><span>页面</span> <a href="http://i.w/?p=188"><span class="current">1</span></a> <a href="http://i.w/?p=188&page=2"><span class="current">2</span></a> <a href="http://i.w/?p=188&page=3"><span class="current">3</span></a></div></div><div class="c"></div>
      </article>
      <article id="post-2054">
        <div class="title">
          <h3><a href="http://i.w/?p=2054" title="Readability Test" rel="bookmark">Readability Test</a></h3>
          <span class="info"><a class="timeago" title="2008/09/05 00:27:25" href="http://i.w/2008/09/05">2008/09/05</a>  /  <span>评论已关闭</span>  /  4 围观</span>
        </div>
        <p>All children, except one, grow up. They soon know that they will grow up, and the way Wendy knew was this. One day when she was two years old she was playing in a garden, and she plucked another flower and ran with it to her mother. I suppose she must have looked rather delightful, for Mrs. Darling put her hand to her heart and cried, "Oh, why can't you remain like this for ever!" This was all that passed between them on the subject, but henceforth Wendy knew that she must grow up. You always know after you are two. Two is the beginning of the end.</p>
        <p> <a href="http://i.w/?p=2054#more-2054" class="more-link">阅读更多...</a></p>
      </article>

    <% include pagination %>
  </section>

<% include footer %>