<% include header %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/member.css">
  <section>
    <form class="content" id="formmember" action="/login" method="post">
      <label>邮&nbsp;&nbsp;&nbsp;件：
        <input type="text" name="email" class="text">
      </label>
      <label>密&nbsp;&nbsp;&nbsp;码：
        <input type="text" name="password" class="text">
      </label>
      <input type="submit" id="login" value="登  陆">
    </form>
  </section>
  <script type="text/javascript" src="/javascripts/member.js"></script>
<% include footer %>