<nav class="pagination clearfix" id="pagination">
  <div class="wp-pagenavi">
    <span class="pages">3 /1</span><span class="current">1</span><a href="http://i.w/?paged=2" class="page larger">2</a><a href="http://i.w/?paged=3" class="page larger">3</a><a href="http://i.w/?paged=2" class="nextpostslink">&gt;</a>
  </div>
</nav>